$borderColor: #ebedef;
$orange: #ff6e34;
.section{
	float:right;
	width: 744px;
}

.sort{
	font-family: "OpenSansRegular";
	background-color: #e4ebee;
	border-bottom: 1px solid $borderColor;
	border-radius: 5px;
    padding-left: 21px;
    padding-bottom: 13px;
    padding-top: 14px;
    margin-bottom: 20px;
}
.option{
	float:left;
}
.option_head{
	margin:0px;
	padding: 0px;
	float: left;
	font-size: 14px;
    margin-right: 7px;
}

.select2-hidden-accessible{
	width: 141px;
	border-radius: 3px;
	padding-left: 7px;
	padding-bottom: 3px;
	font-family: "OpenSansLight";
	font-size: 14px;
}
.option_item{
	width: 141px;
	border-radius: 3px;
	padding-left: 7px;
	padding-bottom: 3px;
	font-family: "OpenSansLight";
	font-size: 14px;
	border: 1px solid $borderColor;
}

.select2-container .select2-selection__arrow b{
	background-image: url(../img/arrowDown.png) !important;
	background-repeat: no-repeat !important;
	width:13px !important;
	height:9px !important;
	border: none !important;
	margin: auto !important;
	top:10px !important;
	left: 0px !important;
}

.select2-container--open.select2-container .select2-selection__arrow b{
	background-image: url(../img/arrowUp.png) !important;
	background-repeat: no-repeat !important;
	width:13px !important;
	height:9px !important;
	border: none !important;
	margin: auto !important;
	top:10px !important;
	left: 0px !important;
}

.grid{
	float: right;
	padding-right: 18px;
}
.gridView{
	display: inline-block;
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	float: left;
}
.gridView-list{
	display: inline-block;
	margin: 0px;
	margin-top: -13px;
	padding: 0px;
	float: right;
}
.gridView_item{
	display: inline-block;
	margin: 0px;
	margin-left:32px;
	padding: 0px;
	margin-top: -10px;
	cursor: pointer;
}
@import "grids/*.png";
.gridView_link_line{
  @include 	grids-sprite(line);
  display: block;
  width: grids-sprite-width(line);
  height: grids-sprite-height(line);
  font-size: 0px;
}

.gridView_link_mozaic{
  @include 	grids-sprite(mozaic);
  display: block;
  width: grids-sprite-width(mozaic);
  height: grids-sprite-height(mozaic);
  font-size: 0px;
}

.gridView_link_inline{
  @include 	grids-sprite(inline);
  display: block;
  width: grids-sprite-width(inline);
  height: grids-sprite-height(inline);
  font-size: 0px;
}

.gridView_link_line-active{
	@include 	grids-sprite(line-active);
  display: block;
  width: grids-sprite-width(line-active);
  height: grids-sprite-height(line-active);
  font-size: 0px;
}

.gridView_link_inline-active{
	@include 	grids-sprite(inline-active);
  display: block;
  width: grids-sprite-width(inline-active);
  height: grids-sprite-height(inline-active);
  font-size: 0px;
}

.gridView_link_mozaic-active{
  @include 	grids-sprite(mozaic-active);
  display: block;
  width: grids-sprite-width(mozaic-active);
  height: grids-sprite-height(mozaic-active);
  font-size: 0px;
}
.phone-content{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
/**************************************************************/
.phone-content .phone-item{
	background-color: #fbfbfb;
	width: 234px;
	padding-top: 19px;
	border: 1px solid $borderColor;
	border-radius: 5px;
	padding-bottom: 22px;
	display: inline-block;
	vertical-align: top;
	margin-right: 13px;
	margin-bottom: 21px;
	&:nth-child(3n+3){
		margin-right: 0px;
	} 
	&:hover{
		-webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.6);
		-moz-box-shadow:    0px 0px 6px 0px rgba(50, 50, 50, 0.6);
		box-shadow:         0px 0px 6px 0px rgba(50, 50, 50, 0.6);
	}
}
.phone-content .phone_img-holder{
	width: 135px;
	height: 125px;
	overflow: hidden;
	margin: 0 auto;
	text-align: center;
	background-color: white;
	border: 1px solid $borderColor;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-bottom:20px;
}

.phone-content .phone_ico-holder{
	width: 135px;
	margin: 0 auto;
	margin-bottom: 2px;
}
.phone-content .art{
	display: none;
}
.phone-content .ico_list{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.phone-content .ico_item{
	display: inline-block;
	margin:0px;
	margin-right: 18px;
	width:30px;
	background-color: white;
	&:last-child{
		    margin-right: 0px;
	}
	&:hover{
	-webkit-box-shadow: 0px 0px 2px 0px rgba(255,102,0, 0.75);
	-moz-box-shadow:    0px 0px 2px 0px rgba(255,102,0, 0.75);
	box-shadow:         0px 0px 2px 0px rgba(255,102,0, 0.75);
	}
}

.phone-content .ico_link{
	display: block;
	width:24px;
	margin:2px auto 0 auto;
}
.phone-content .opis{
	display: none;
}
.phone-content .phone_name{
	min-height: 40px;
	margin: 0 auto;
	margin-bottom: 2px;
	text-align: center;
	h2{
		font-family: "OpenSansSemiBold";
		font-size: 14px;
		padding:0 10px;
	}
}

.phone-content .kit{
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-family: "OpenSansRegular";
	font-size: 14px;
	margin-bottom: 9px;
	li{
		padding-bottom: 1px;
	}
	li:nth-child(odd){
		background-color: #e6e6e6;
	}
}
.phone-content .left-col{
	float: left;
	padding-left: 11px;
}
.phone-content .right-col{
	float: right;
	padding-right: 12px
}

.stars{
	width: 135px;
	margin: 0 auto;
	padding: 0px;
	list-style: none;
	margin-bottom: 2px;
	li:last-child{
		background-color: #e6e6e6;
		padding:2px 12px;
		border-radius: 10px;
		font-family: "OpenSansSemiBold";
		font-size: 11.5px;
		color: white;
	}
}
.star{
	display: inline-block;
}
.price{
	text-align: center;
	font-family: "OpenSansSemiBold";
	font-size: 20px;
	margin: 0 auto;
	padding: 0px;
	margin-bottom: 7px;
	line-height: 17px;
}
 .availability{
	font-family: "OpenSansSemiBold";
	font-size: 12px;
	list-style: none;
	color: green;
	margin: 0 auto;
	padding: 0px;
	float: left;
	margin-top: 8px;
    margin-left: 37px;
}

 .phone-content .availability{
	font-family: "OpenSansSemiBold";
	font-size: 12px;
	list-style: none;
	color: green;
	margin: 0 auto;
	padding: 0px;
	float: left;
	margin-top: 8px;
    margin-left: 37px;
    position: relative;
}

.phone-content .availability:before{
	content: '';
    display: block;
    position: absolute;
    bottom: 4px;
    left: -35px;
	width: 7px;
	height: 7px;
	background-color: green;
	border-radius: 50%;
	margin-left: 20px;
}



.phone_bay{
	float: right;
	display: block;
	text-decoration: none;
	font-family: "OpenSansSemiBold";
	font-size: 14px;
	color: white;
	background-color:$orange;
	border-radius: 5px;
	padding: 8px 14px;
	margin-right: 14px;
}

.pages{
	float:right;
	margin: 0;
	margin-top: 41px;
	padding: 0px;
	list-style: none;
}

.pages_item{
	margin: -1px;
	padding: 0px;
	display: inline-block;
}
.pages_link{
	display: block;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right:9px;
	padding-left: 9px;
	background-color: #fbfbfb;
	font-size: 12px;
	font-family: "OpenSansSemiBold";
	border: 1px solid $borderColor;
	border-radius: 3px;
	&:hover{
		background-color: #e0e0e0;
	}
}
.info{
	h2{
		font-family: "OpenSansSemiBold";
		font-size: 20px;
		margin-top: 27px;
	}
	p{
		font-family: "OpenSansRegular";
		font-size: 14px;
	}
}
/*******************_line*****************/

.phone-content_line{
	list-style: none;
	margin: 0px;
	padding: 0px;
	li:first-child{
	border-radius:5px 5px 0 0;
	}
	li:last-child{
	border-radius:0 0 5px 5px;
	}
}


.phone-content_line .phone-item{
	padding-top: 16px;
    padding-left: 21px;
    padding-bottom: 12px;
	border: 1px solid $borderColor;
	background-color: #fbfbfb;
	display: block;
	width: 722px;
	position: relative;
	&:hover{
		-webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.6);
		-moz-box-shadow:    0px 0px 6px 0px rgba(50, 50, 50, 0.6);
		box-shadow:         0px 0px 6px 0px rgba(50, 50, 50, 0.6);
	}
}

.phone-content_line .phone-item:before{
    content: '';
    display: block;
    position: absolute;
    bottom: 21px;
    right: 154px;
    width: 1px;
    height: 204px;
    background-color:$borderColor;
	}

.phone-content_line ._line{
	float: left;
	position: relative;
}
.phone-content_line .phone_img-holder{
	float: left;
	width: 135px;
	height: 125px;
	overflow: hidden;
	text-align: center;
	background-color: white;
	border: 1px solid $borderColor;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-bottom:20px;
}

.phone-content_line .art{
	font-family: "OpenSansSemiBold";
    font-size: 12px;
    text-align: center;
    line-height: 5px;

}
.phone-content_line .ico_list{
	display: block;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.phone-content_line .ico_item{
	display: inline-block;
	margin:0px;
	margin-right: 18px;
	width:30px;
	background-color: white;
	&:last-child{
		    margin-right: 0px;
	}
	&:hover{
	-webkit-box-shadow: 0px 0px 2px 0px rgba(255,102,0, 0.75);
	-moz-box-shadow:    0px 0px 2px 0px rgba(255,102,0, 0.75);
	box-shadow:         0px 0px 2px 0px rgba(255,102,0, 0.75);
	}
}
.phone-content_line .ico_link{
	display: block;
	width:24px;
	margin:2px auto 0 auto;
}

.phone-content_line .opis{
	display: none;
}

.phone-content_line .phone_name{
	height: 40px;
	margin-left:16px;
	line-height: 5px;
	text-align: left;
	h2{
		font-family: "OpenSansSemiBold";
		font-size: 16px;
		padding:0 10px;
	}
}

.phone-content_line .kit{
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-family: "OpenSansRegular";
	font-size: 14px;
	margin-bottom: 9px;
	margin-left: 25px;
	width: 400px;
	li{
		padding-bottom: 1px;
		display: inline-block;
		margin: 0px;
		padding: 0px;
	}
}

.phone-content_line .left-col{
	margin-right: 3px;
}
.phone-content_line .right-col{
	margin-right: 5px;
}

.phone-content_line .stars{
	width: 135px;
	margin-left:25px;
	margin-top: 31px;
	padding: 0px;
	list-style: none;
	margin-bottom: 2px;
	li:last-child{
		background-color: #e6e6e6;
		padding:2px 12px;
		border-radius: 10px;
		font-family: "OpenSansSemiBold";
		font-size: 11.5px;
		color: white;
	}
}

.phone-content_line .price_num{
		font-size: 20px;
	    margin-top: 6px;
	    margin-left: 54px;
	    margin-bottom: 130px;
	}
	
.rub{
	margin-left:5px;
	font-family: 'als_rublregular';
	font-size: 19px;
}
.phone-content_line .rub{
	margin-left:5px;
	font-family: 'als_rublregular';
}	

.phone-content_line .availability{
	position: absolute;
	font-family: "OpenSansSemiBold";
	font-size: 12px;
	list-style: none;
	color: green;
	padding: 0px;
    bottom: -56px;
    right: 19px;
}
.phone-content_line .availability_holder{
	position: relative;
}
.phone-content_line .availability:before{
	content: '';
    display: block;
    position: absolute;
    bottom: 4px;
    left: -35px;
	width: 7px;
	height: 7px;
	background-color: green;
	border-radius: 50%;
	margin-left: 20px;
}
.phone-content_line .phone_bay{
	display: block;
	text-decoration: none;
	font-family: "OpenSansSemiBold";
	color: white;
	background-color:$orange;
	border-radius: 5px;
	padding: 8px 14px;
	margin-left: 34px;
}




/*******************_line*****************/


/*******************inline*****************/

.phone-content_inline{
	list-style: none;
	margin: 0px;
	padding: 0px;
	li:first-child{
	border-radius:5px 5px 0 0;
	}
	li:last-child{
	border-radius:0 0 5px 5px;
	}
}


.phone-content_inline .phone-item{
	padding-top: 11px;
    padding-left: 12px;
    padding-bottom: 4px;
	border: 1px solid $borderColor;
	background-color: #fbfbfb;
	display: block;
	width: 722px;
	&:hover{
		-webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.6);
		-moz-box-shadow:    0px 0px 6px 0px rgba(50, 50, 50, 0.6);
		box-shadow:         0px 0px 6px 0px rgba(50, 50, 50, 0.6);
	}
}

.phone-content_inline ._line{
	float: left;
	position: relative;
}
.phone-content_inline .phone_img-holder{
	display: none;
}

.phone-content_inline .art{
	font-family: "OpenSansSemiBold";
    font-size: 12px;
    text-align: center;
    line-height: 5px;
    float: left;

}

.phone-content_inline ._line{
	float: left;
}
.phone-content_inline .ico_list{
	display: none;
}


.phone-content_inline .phone_name{
	display: none;
}
.phone-content_inline .opis_holder{
	width: 295px;
	height: 25px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.phone-content_inline .opis{
	margin: 0px;
	padding: 0px;
	margin-left: 15px;
    margin-top: 4px;
	font-size: 14px;
	font-family: "OpenSansRegular";
}
.phone-content_inline .kit{
	display: none;
}

.phone-content_inline .stars{
	display: none;
}
.phone-content_inline .price{
	margin: 0px;
    margin-left: -11px;
    padding: 0px;
}
.phone-content_inline .price_num{
    text-align: right;
		font-size: 20px;
       margin-top: 3px;
	    margin-left: 19px;
	    margin-bottom: 0px;
	    width: 85px;
		display: inline-block;
		vertical-align: top;
	}

.phone-content_inline .rub{
	margin-left:5px;
	font-family: 'als_rublregular';
}	

.phone-content_inline .availability{
	font-family: "OpenSansSemiBold";
	font-size: 12px;
	list-style: none;
	color: green;
	padding: 0px;
    bottom: -56px;
    right: 19px;
}
.phone-content_inline .availability_holder{
	margin: 0px;
	padding: 0px;
	display: inline-block;
	position: relative;
	vertical-align: top;
	margin-top: -3px;
    margin-left: -4px
}
.phone-content_inline .availability:before{
	content: '';
    display: block;
    position: absolute;
    bottom: 4px;
    left: 4px;
	width: 7px;
	height: 7px;
	background-color: green;
	border-radius: 50%;
	margin-left: 20px;
}
.phone-content_inline .phone_bay{
	float:right;
	display: inline-block;
	text-decoration: none;
	font-family: "OpenSansSemiBold";
	color: white;
	background-color:$orange;
	border-radius: 5px;
	padding: 8px 14px;
    margin-left: 23px;
    margin-right: 0px;
}




/*******************inline*****************/