/* --------- normalize --------- */
/* --------- sections --------- */
body {
  color: #333333;
  background-color: #f4f4f4;
  height: auto;
  position: relative;
}

html {
  height: 100%;
  position: relative;
}

.wrapper {
  width: 1100px;
  margin: 0 auto;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.header {
  background: #ffffff;
  min-width: 1100px;
  margin-bottom: 27px;
}

.contacts {
  padding-top: 24px;
  padding-bottom: 29px;
}

.socials_list {
  margin: 0px;
  margin-top: -13px;
  padding: 0px;
  float: left;
}

.socials_item {
  display: inline-block;
  margin-right: 12px;
}

.social_link {
  display: block;
  width: 26px;
  height: 26px;
}

.sprite-sprite, .social_link_FB, .social_link_VK, .social_link_TW {
  background-image: url('../img/sprite-sef582bff17.png');
  background-repeat: no-repeat;
}

.social_link_FB {
  background-position: 0 -26px;
  display: block;
  width: 26px;
  height: 26px;
  font-size: 0px;
  vertical-align: top;
}
.social_link_FB:hover, .social_link_FB.FB-hover {
  background-position: 0 0;
}

.social_link_VK {
  background-position: 0 -130px;
  display: block;
  width: 26px;
  height: 26px;
  font-size: 0px;
  vertical-align: top;
}
.social_link_VK:hover, .social_link_VK.VK-hover {
  background-position: 0 -104px;
}

.social_link_TW {
  background-position: 0 -78px;
  display: block;
  width: 26px;
  height: 26px;
  font-size: 0px;
  vertical-align: top;
}
.social_link_TW:hover, .social_link_TW.TW-hover {
  background-position: 0 -52px;
}

.adress {
  float: right;
}

.map {
  display: inline-block;
  font-size: 14px;
  font-family: 'OpenSansRegular';
  margin-right: 105px;
}

.phone {
  display: inline-block;
  font-size: 18px;
  font-family: 'OpenSansSemiBold';
  margin-right: 2px;
}

.search {
  background-color: #f4f4f4;
  border-top: 2px solid #ebedef;
  padding-top: 28px;
  padding-bottom: 20px;
}

.logo {
  float: left;
  margin-right: 56px;
}

.search-form {
  float: left;
  margin-top: 2px;
}

.search_input {
  font-size: 14px;
  width: 270px;
  border: 1px solid #ebedef;
  border-right: none;
  border-radius: 3px 0px 0px 3px;
  padding-top: 7px;
  padding-left: 16px;
  padding-bottom: 6px;
  display: inline-block;
  font-family: "OpenSansLight";
}

.search_button {
  font-size: 16px;
  width: 79px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 11px;
  padding-right: 10px;
  background-color: #ff6e34;
  border-radius: 0px 3px 3px 0px;
  margin-left: -4px;
  border: none;
  color: white;
  font-family: 'OpenSansSemiBold';
  display: inline-block;
}

.client-info {
  float: right;
  font-family: 'OpenSansSemiBold';
  font-size: 16px;
  margin-top: 8px;
  padding: 0;
}

.client-info_item {
  display: inline-block;
  margin-left: 29px;
  cursor: pointer;
}
.client-info_item a {
  text-decoration: underline;
}
.client-info_item a:hover {
  color: #ff6e34;
}
.client-info_item a:active {
  text-decoration: none;
}

.nav {
  background-color: white;
  border-bottom: 2px solid #ebedef;
}

.nav_list {
  padding: 0px;
  margin: 0px;
  margin-left: 5px;
}

.nav_item {
  display: inline-block;
  padding: 0px;
  margin: 0px;
}

.nav_link {
  font-family: "OpenSansRegular";
  color: #333333;
  display: block;
  padding-top: 15px;
  padding-left: 13px;
  padding-bottom: 15px;
  padding-right: 13px;
  cursor: pointer;
}
.nav_link:hover {
  background-color: #e4e2e2;
}
.nav_link:active {
  text-decoration: underline;
}

.active {
  background-color: #ff6e34;
  font-family: 'OpenSansSemiBold';
  color: white;
  text-decoration: none;
}
.active:hover {
  background-color: #ff6e34;
  cursor: default;
}
.active:active {
  background-color: #ff6e34;
  cursor: default;
  text-decoration: none;
}

.bread-crumbs {
  font-size: 14px;
  font-family: "OpenSansRegular";
  margin-bottom: 20px;
}

.page-name {
  font-family: 'OpenSansSemiBold';
  font-size: 20px;
  margin-bottom: 27px;
}

.aside {
  float: left;
  width: 333px;
}

.status-phone {
  list-style: none;
  border: 1px solid #ebedef;
  background-color: #fbfbfb;
  border-radius: 5px;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  margin-bottom: 38px;
}

.status-phone_list {
  margin: 0px;
}
.status-phone_list:last-child a {
  border-bottom: none;
}

.status-phone_link {
  display: block;
  font-size: 14px;
  padding-top: 12px;
  padding-bottom: 14px;
  padding-left: 27px;
  border-bottom: 1px solid #EBEDEF;
  font-family: "OpenSansRegular";
}
.status-phone_link:hover {
  background-color: #d9e5ea;
  cursor: pointer;
}

.filter {
  list-style: none;
  border: 1px solid #ebedef;
  background-color: #fbfbfb;
  border-radius: 5px;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  font-family: 'OpenSansSemiBold';
}

.filter_item {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ebedef;
}

.filter_name {
  font-size: 14px;
  padding-top: 12px;
  padding-bottom: 14px;
  padding-left: 27px;
  margin: 0px;
}
.filter_name:hover {
  background-color: #d9e5ea;
  cursor: pointer;
}

.filter_holder {
  padding-left: 27px;
  margin-top: -1px;
  margin-bottom: 17px;
  position: relative;
}

.filter_input_radio, .filter_input_checkbox {
  display: none;
}

.input-sprite, .filter_label_radio:after, .filter_label_radio:hover:after, .filter_input_radio:checked + .filter_label_radio:after, .filter_label_checkbox:after, .filter_label_checkbox:hover:after, .filter_input_checkbox:checked + .filter_label_checkbox:after {
  background-image: url('../img/input-s25aaf387a8.png');
  background-repeat: no-repeat;
}

.filter_label_radio {
  margin-left: 31px;
  font-size: 14px;
}
.filter_label_radio:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 29px;
  display: block;
  background-position: 0 -76px;
  display: block;
  width: 19px;
  height: 19px;
  font-size: 0px;
}
.filter_label_radio:hover:after {
  background-position: 0 -95px;
  width: 19px;
  height: 19px;
}
.filter_label_radio:hover:after:hover, .filter_label_radio:hover:after.radio-hover {
  background-position: 0 -76px;
}
.filter_label_radio:hover:after:active, .filter_label_radio:hover:after.radio-active {
  background-position: 0 -57px;
}
.filter_input_radio:checked + .filter_label_radio:after {
  background-position: 0 -57px;
  width: 19px;
  height: 19px;
}

.filter_label_checkbox {
  margin-left: 31px;
  font-size: 14px;
}
.filter_label_checkbox:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 29px;
  display: block;
  background-position: 0 -38px;
  display: block;
  width: 19px;
  height: 19px;
  font-size: 0px;
}
.filter_label_checkbox:after:hover, .filter_label_checkbox:after.check-hover {
  background-position: 0 -19px;
}
.filter_label_checkbox:after:active, .filter_label_checkbox:after.check-active {
  background-position: 0 0;
}
.filter_label_checkbox:hover:after {
  background-position: 0 -19px;
  width: 19px;
  height: 19px;
}
.filter_input_checkbox:checked + .filter_label_checkbox:after {
  background-position: 0 0;
  width: 19px;
  height: 19px;
}

.reset {
  font-size: 14px;
  font-family: "OpenSansRegular";
  color: #5db2fc;
}

.color {
  margin: 0px;
  margin-left: 27px;
  padding: 0px;
  padding-right: 80px;
}

.color_item {
  margin: 0px;
  margin-right: 14px;
  margin-top: 14px;
  padding: 0px;
  display: inline-block;
  width: 35px;
  height: 35px;
  border: 1px solid #dee1e4;
  border-radius: 4px;
}
.color_item:hover {
  -webkit-box-shadow: 0px 0px 2px 0px rgba(255, 102, 0, 0.75);
  -moz-box-shadow: 0px 0px 2px 0px rgba(255, 102, 0, 0.75);
  box-shadow: 0px 0px 2px 0px rgba(255, 102, 0, 0.75);
}

.color_link_white {
  display: block;
  width: 100%;
  height: 100%;
  background-color: white;
}

.color_link_silver {
  display: block;
  width: 100%;
  height: 100%;
  background-color: silver;
}

.color_link_black {
  display: block;
  width: 100%;
  height: 100%;
  background-color: black;
}

.color_link_blue {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #0a3153;
}

.color_link_red {
  display: block;
  width: 100%;
  height: 100%;
  background-color: red;
}

.color_link_yellow {
  display: block;
  width: 100%;
  height: 100%;
  background-color: yellow;
}

.color_link_orange {
  display: block;
  width: 100%;
  height: 100%;
  background-color: orange;
}

.color_link_cyan {
  display: block;
  width: 100%;
  height: 100%;
  background-color: cyan;
}

.color_link_green {
  display: block;
  width: 100%;
  height: 100%;
  background-color: green;
}

.color_link_violet {
  display: block;
  width: 100%;
  height: 100%;
  background-color: violet;
}

.color_link_magenta {
  display: block;
  width: 100%;
  height: 100%;
  background-color: magenta;
}

.color_link_brown {
  display: block;
  width: 100%;
  height: 100%;
  background-color: brown;
}

.section {
  float: right;
  width: 744px;
}

.sort {
  font-family: "OpenSansRegular";
  background-color: #e4ebee;
  border-bottom: 1px solid #ebedef;
  border-radius: 5px;
  padding-left: 21px;
  padding-bottom: 13px;
  padding-top: 14px;
  margin-bottom: 20px;
}

.option {
  float: left;
}

.option_head {
  margin: 0px;
  padding: 0px;
  float: left;
  font-size: 14px;
  margin-right: 7px;
}

.select2-hidden-accessible {
  width: 141px;
  border-radius: 3px;
  padding-left: 7px;
  padding-bottom: 3px;
  font-family: "OpenSansLight";
  font-size: 14px;
}

.option_item {
  width: 141px;
  border-radius: 3px;
  padding-left: 7px;
  padding-bottom: 3px;
  font-family: "OpenSansLight";
  font-size: 14px;
}

.grid {
  float: right;
}

.gridView {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
}

.gridView-list {
  display: inline-block;
  margin: 0px;
  padding: 0px;
}

.gridView_item {
  display: inline-block;
}

.phone-content {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.phone-item {
  background-color: #fbfbfb;
  width: 234px;
  padding-top: 19px;
  border: 1px solid #ebedef;
  border-radius: 5px;
  padding-bottom: 22px;
  display: inline-block;
  vertical-align: top;
  margin-right: 13px;
  margin-bottom: 21px;
}
.phone-item:nth-child(3n+3) {
  margin-right: 0px;
}
.phone-item:hover {
  -webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.6);
  -moz-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.6);
  box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.6);
}

.phone_img-holder {
  width: 135px;
  height: 125px;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  border: 1px solid #ebedef;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 20px;
}

.phone_ico-holder {
  width: 135px;
  margin: 0 auto;
  margin-bottom: 12px;
}

.ico_list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.ico_item {
  display: inline-block;
  margin: 0px;
  margin-right: 29px;
}
.ico_item:last-child {
  margin-right: 0px;
}

.phone_name {
  height: 40px;
  margin: 0 auto;
  margin-bottom: 2px;
  text-align: center;
}
.phone_name h2 {
  font-family: "OpenSansSemiBold";
  font-size: 14px;
  padding: 0 10px;
}

.kit {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-family: "OpenSansRegular";
  font-size: 14px;
  margin-bottom: 9px;
}
.kit li {
  padding-bottom: 1px;
}
.kit li:nth-child(odd) {
  background-color: #e6e6e6;
}

.left-col {
  float: left;
  padding-left: 11px;
}

.right-col {
  float: right;
  padding-right: 12px;
}

.stars {
  width: 135px;
  margin: 0 auto;
  padding: 0px;
  list-style: none;
  margin-bottom: 2px;
}
.stars li:last-child {
  background-color: #e6e6e6;
  padding: 2px 12px;
  border-radius: 10px;
  font-family: "OpenSansSemiBold";
  font-size: 11.5px;
  color: white;
}

.star {
  display: inline-block;
}

.price {
  text-align: center;
  font-family: "OpenSansSemiBold";
  font-size: 20px;
  margin: 0 auto;
  padding: 0px;
  margin-bottom: 2px;
}

.availability {
  font-family: "OpenSansSemiBold";
  font-size: 12px;
  list-style: none;
  color: green;
  margin: 0 auto;
  padding: 0px;
  float: left;
  margin-top: 8px;
}

.availability_indicator {
  display: inline-block;
}

.availability_indicator-color {
  width: 7px;
  height: 7px;
  background-color: green;
  border-radius: 50%;
  margin-left: 20px;
}

.availability_status {
  color: #7f7f7f;
  margin-left: 4px;
  display: inline-block;
}

.phone_bay {
  float: right;
  display: block;
  text-decoration: none;
  font-family: "OpenSansSemiBold";
  color: white;
  background-color: #ff6e34;
  border-radius: 5px;
  padding: 4px 10px;
  margin-right: 14px;
}

.pages {
  float: right;
  margin: 0;
  margin-top: 41px;
  padding: 0px;
  list-style: none;
}

.pages_item {
  margin: -1px;
  padding: 0px;
  display: inline-block;
}

.pages_link {
  display: block;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 9px;
  padding-left: 9px;
  background-color: #fbfbfb;
  font-size: 12px;
  font-family: "OpenSansSemiBold";
  border: 1px solid #ebedef;
  border-radius: 3px;
}
.pages_link:hover {
  background-color: #e0e0e0;
}

.info h2 {
  font-family: "OpenSansSemiBold";
  font-size: 20px;
  margin-top: 27px;
}
.info p {
  font-family: "OpenSansRegular";
  font-size: 14px;
}

.footer {
  background-image: url("../img/bg-footer.png");
  position: absolute;
  width: 100%;
  bottom: -256px;
  left: 0;
}

.footer_holder {
  padding-top: 19px;
}

.footer-logo {
  float: left;
  margin-top: 53px;
}

.footer-social {
  float: right;
  width: 600px;
  text-align: right;
}

.socials__list_footer {
  margin: 0;
  margin-left: 70px;
  margin-bottom: 12px;
  padding: 0;
  list-style: none;
}

.socials_item_footer {
  display: inline-block;
  float: right;
  margin-left: 25px;
  margin-right: 3px;
}

.nav_footer_list {
  float: right;
  margin-right: 3px;
  margin-bottom: 6px;
}

.nav_footer_item {
  display: inline-block;
  margin-left: 18px;
  margin-bottom: 17px;
}

.nav_footer_link {
  color: white;
  font-family: "OpenSansRegular";
  font-size: 14px;
}

.copyright {
  color: white;
  font-family: "OpenSansRegular";
  font-size: 12px;
  position: relative;
  text-align: center;
  padding-bottom: 5px;
  position: relative;
}

.copyright:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: grey;
  position: absolute;
  left: 0;
  top: -4px;
}

.FooterSprite-sprite, .social_link_FB_footer, .social_link_VK_footer, .social_link_TW_footer {
  background-image: url('../img/FooterSprite-s984b535a32.png');
  background-repeat: no-repeat;
}

.social_link_FB_footer {
  background-position: 0 -43px;
  display: block;
  width: 43px;
  height: 43px;
  font-size: 0px;
  vertical-align: top;
}
.social_link_FB_footer:hover, .social_link_FB_footer.FB-hover {
  background-position: 0 0;
}

.social_link_VK_footer {
  background-position: 0 -215px;
  display: block;
  width: 43px;
  height: 43px;
  font-size: 0px;
  vertical-align: top;
}
.social_link_VK_footer:hover, .social_link_VK_footer.VK-hover {
  background-position: 0 -172px;
}

.social_link_TW_footer {
  background-position: 0 -129px;
  display: block;
  width: 43px;
  height: 43px;
  font-size: 0px;
  vertical-align: top;
}
.social_link_TW_footer:hover, .social_link_TW_footer.TW-hover {
  background-position: 0 -86px;
}
