doctype html 
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		link(rel="stylesheet" href="css/main.css")
		link(rel="stylesheet" href="fonts/Fonts.css")
		link(rel="stylesheet" href="bower/normalize-css/normalize.css")
		title
			block title
	body
		include _common/_header					
		.wrapper
			.bread-crumbs Главная > Каталог
			h1.page-name Мобильные телефоны
			include _common/_aside	
			include _common/_section

		footer.footer
				