.footer {
  background-image: url("../img/bg-footer.png");
  position: absolute;
  width: 100%;
  bottom: -256px;
  left: 0;
}

.footer_holder {
  padding-top: 19px;
}

.footer-logo {
  float: left;
  margin-top: 53px;
}

.footer-social {
  float: right;
  width: 600px;
  text-align: right;
}

.socials__list_footer {
  margin: 0;
  margin-left: 70px;
  margin-bottom: 12px;
  padding: 0;
  list-style: none;
}

.socials_item_footer {
  display: inline-block;
  float: right;
  margin-left: 25px;
  margin-right: 3px;
}

.nav_footer_list {
  float: right;
  margin-right: 3px;
  margin-bottom: 6px;
}

.nav_footer_item {
  display: inline-block;
  margin-left: 18px;
  margin-bottom: 17px;
}

.nav_footer_link {
  color: white;
  font-family: "OpenSansRegular";
  font-size: 14px;
}

.copyright {
  color: white;
  font-family: "OpenSansRegular";
  font-size: 12px;
  position: relative;
  text-align: center;
  padding-bottom: 5px;
  position: relative;
}

.copyright:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: grey;
  position: absolute;
  left: 0;
  top: -4px;
}

.FooterSprite-sprite, .social_link_FB_footer, .social_link_VK_footer, .social_link_TW_footer {
  background-image: url('../../img/FooterSprite-s984b535a32.png');
  background-repeat: no-repeat;
}

.social_link_FB_footer {
  background-position: 0 -43px;
  display: block;
  width: 43px;
  height: 43px;
  font-size: 0px;
  vertical-align: top;
}
.social_link_FB_footer:hover, .social_link_FB_footer.FB-hover {
  background-position: 0 0;
}

.social_link_VK_footer {
  background-position: 0 -215px;
  display: block;
  width: 43px;
  height: 43px;
  font-size: 0px;
  vertical-align: top;
}
.social_link_VK_footer:hover, .social_link_VK_footer.VK-hover {
  background-position: 0 -172px;
}

.social_link_TW_footer {
  background-position: 0 -129px;
  display: block;
  width: 43px;
  height: 43px;
  font-size: 0px;
  vertical-align: top;
}
.social_link_TW_footer:hover, .social_link_TW_footer.TW-hover {
  background-position: 0 -86px;
}
