extends ../main
block title 
	|Мобильные телефоны
body
	include ../_common/_header	
	.wrapper
		.bread-crumbs Главная > Каталог
		h1.page-name Мобильные телефоны
		include ../_common/_aside	
		include ../_common/_section

	footer.footer

