aside.aside
				ul.status-phone
					li.status-phone_list
						a.status-phone_link Флагманы
					li.status-phone_list
						a.status-phone_link Бюджетная линейка
				ul.filter
					li.filter_item Наличие в магазинах
					li.filter_item Бренды
					li.filter_item Цена
					li.filter_item Цвет
					li.filter_item Операционные системы