ul.phone-content
	li.phone-item.clearfix
		.phone_img-holder
			img(src="img/phone-1.png" class="phone-img")
		.phone_ico-holder
			ul.ico_list
				li.ico_item
					a.ico_link
						img(class="ico_img" src="img/phone-1ico.png")
				li.ico_item
					a.ico_link
						img(class="ico_img" src="img/phone-1ico.png")
				li.ico_item
					a.ico_link
						img(class="ico_img" src="img/phone-1ico.png")
		h2.pfone_name Samsung GT-I9301I  GALAXY S 3
		ul.kit
			li.clearfix 
				span.left-col Тип SIM-карты
				span.right-col Micro-SIM
			li.clearfix 
				span.left-col Количество SIM-карт
				span.right-col 1
			li.clearfix 
				span.left-col Цвет
				span.right-col Белый
			li.clearfix 
				span.left-col ОС
				span.right-col Android
			li.clearfix 
				span.left-col Связь 3G
				span.right-col Есть
			li.clearfix 
				span.left-col 4G(LTE)
				span.right-col Нет
			li.clearfix 
				span.left-col GPS-модуль
				span.right-col Есть
		ul.stars
			li.star
				img(src="img/redStar.png")
			li.star
				img(src="img/redStar.png")
			li.star
				img(src="img/redStar.png")
			li.star
				img(src="img/redStar.png")
			li.star
				img(src="img/flatStar.png")
			li.star 4
		h4.price 11 290
			span P
		ul.availability
			li.availability_indicator
				.availability_indicator-color
			li.availability_status В наличии
		a(class="phone_bay" href="#") В корзину