include _mixin
section.section
	.sort.clearfix
		form.option.clearfix
			h3.option_head Сортировать по:
			select.option_item
				option по цене
				option по популярности
		.grid.clearfix
			h3.gridView Вид каталога
			ul.gridView-list
				li.gridView_item
					a.gridView_link_line 1
				li.gridView_item
					a.gridView_link_mozaic.gridView_link_mozaic-active 2
				li.gridView_item
					a.gridView_link_inline 3
	+phone('')