include _mixin-nav
include _socials
.wrapper.clearfix
	.footer_holder
		a(href="#" class="footer-logo").clearfix
			img(src="img/footer-logo.png" class="footer-logo_img")
		.footer-social.clearfix 	
			+social(['FB','VK','TW'],'_footer')
			+nav('nav_footer',['Планшеты','Мобильные телефоны','Мр3 плееры','Персональные компьютеры','Ноутбуки','Аксессуары','Бытовая техника'])
p.copyright All rights reserved. 2015. no copy alowed