@font-face {
    font-family: "OpenSansRegular";
    src: url("OpenSans/OpenSansRegular/OpenSansRegular.eot");
    src: url("OpenSans/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
    url("OpenSans/OpenSansRegular/OpenSansRegular.woff") format("woff"),
    url("OpenSans/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OpenSansSemiBold";
    src: url("OpenSans/OpenSansSemiBold/OpenSansSemiBold.eot");
    src: url("OpenSans/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix")format("embedded-opentype"),
    url("OpenSans/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"),
    url("OpenSans/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OpenSansLight";
    src: url("OpenSans/OpenSansLight/OpenSansLight.eot");
    src: url("OpenSans/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype"),
    url("OpenSans/OpenSansLight/OpenSansLight.woff") format("woff"),
    url("OpenSans/OpenSansLight/OpenSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OpenSansBold";
    src: url("OpenSans/OpenSansBold/OpenSansBold.eot");
    src: url("OpenSans/OpenSansBold/OpenSansBold.eot?#iefix")format("embedded-opentype"),
    url("OpenSans/OpenSansBold/OpenSansBold.woff") format("woff"),
    url("OpenSans/OpenSansBold/OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'als_rublregular';
    src: url('Rouble/rouble-webfont.eot');
    src: url('Rouble/rouble-webfont.eot?#iefix') format('embedded-opentype'),
         url('Rouble/rouble-webfont.woff2') format('woff2'),
         url('Rouble/rouble-webfont.woff') format('woff'),
         url('Rouble/rouble-webfont.ttf') format('truetype'),
         url('Rouble/rouble-webfont.svg#als_rublregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
